<div id="userLogin">
    <img id="backgroundImage" src="../../../assets/Screenshot 2024-05-07 160018.png">
    <form id="userForm" (ngSubmit)="saveUser()">
        <h1 id="loginTitle">login</h1>
        <label for="name">your name</label><br>
        <input class="button" type="text" id="name" name="name" required [(ngModel)]="user.UserName"><br>
        <label for="password">your password</label><br>
        <input class="button" type="password" id="password" name="password" required [(ngModel)]="user.Password"><br>
        <button  id="submitButton" type="submit">sign in</button>
    </form>
</div>
<router-outlet></router-outlet>