<div class="filters">
  <label for="jobFieldFilter">Job Field:</label>
  <select id="jobFieldFilter" [(ngModel)]="selectedJobField" (change)="applyJobFieldFilters()">
    <option value="">All</option>
    <option *ngFor="let field of jobFields" [value]="field">{{ field }}</option>
  </select>
  
  <label for="areaFilter">Area:</label>
  <select id="areaFilter" [(ngModel)]="selectedArea" (change)="applyAreaFilters()">
    <option value="">All</option>
    <option *ngFor="let area of areas" [value]="area">{{ area }}</option>
  </select>
</div> 

<div id="jobs" *ngFor="let j of filteredJobs">
<app-job [_jobData]=j></app-job>
</div>



  

















<!-- ממלכי -->
<!-- <h3>Filter jobs by</h3>
<select name="" id="">Filter jobs by//(change)="onOptionSelected($event.target)">
    <option value="op0" disabled selected>Filter jobs by</option>
    <option value="fields">fields</option>
    <option value="area">area</option>
</select>
<br>

<select name="" id="">//*ngIf="FilterJobsByArea" (change)="onOptionSelectedArea($event.target)" >
    <option value="op0" disabled selected></option>
    <option value="Software Development">Software Development</option>
    <option value="Recruitment">Recruitment</option>
    <option value="Accounting">Accounting</option>
</select>

<select name="" id=""> *ngIf="FilterJobsByFeild" (change)="onOptionSelectedField($event.target)"> -->
    <!-- <option value="">{{jobFieldes(0)}}</option>
    <option value="">{{jobFieldes(1)}}</option>
    <option value="">{{jobFieldes(2)}}</option>
    <option value="">{{jobFieldes(3)}}</option>
    <option value="">{{jobFieldes(4)}}</option> -->
<!-- </select> -->